@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
@using RecordShop.Web.Models

<h4>@Record.Title</h4>
<h4>@Record.Artist</h4>
<h4>@Record.Genre</h4>
<h4>@Record.ReleaseYear</h4>
<h4>@Record.Price</h4>
<h4>@Record.StockQuantity</h4>

<EditForm Model="Record" OnValidSubmit="SaveChanges">
<InputText @bind-Value="Record.Title" />
<InputText @bind-Value="Record.Artist" />
<InputText @bind-Value="Record.Genre" />
<InputNumber @bind-Value="Record.ReleaseYear" />
<InputNumber @bind-Value="Record.Price" />
<InputNumber @bind-Value="Record.StockQuantity" />
<button type="submit">Save Changes</button>

</EditForm>

@if (savedMessage != null)
{
    <p>@savedMessage</p>
}


@code {
    private string? savedMessage;
    [Parameter]
    public Record Record { get; set; } = default!;

    private async Task SaveChanges()
    {
        try
        {
            var httpClient = new HttpClient();
            var response = await httpClient.PutAsJsonAsync(
                $"https://localhost:7060/api/albums/{Record.Id}", Record
            );

            if (response.IsSuccessStatusCode)
            {
                savedMessage = $"Saved changes for {Record.Title}";   
            }
            else
            {
                savedMessage = "Could not save changes.";
            }

        } catch (Exception ex)
        {
            savedMessage = $"Error saving changes: {ex.Message}";
        }
    }

}
 